<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>header}}

    <form id="form">
        <input type="text" id="search" placeholder="Search by location" autocomplete="off" >
    </form>

        <div id="main">

        </div>

    <p>{{>footer}}</p>
<!--<h1>From a handlebar dynamic file...</h1>-->
    <script src="./js/app.js" ></script>
</body>
</html>